
A breakdown of our finances for the month of {{ month }}, {{ year }}. {{ '{{' }}finmonth{{ '}}' }}

This auto generated report may not yet include all transactions from Equals Money, correct reconciliation of all transactions to Income/Expense accounts (Imbalance), and Income Snackspace > Tool Usage adjustments.

==Quick summary==

Overall Assets: {{ overallAssets }}

'''{{ currentAssets['name'] }}''' {{ currentAssets['amount'] }}<br>
{% for name, amount in currentAssets['children'] | dictsort(by='key') %}
:{{ name|e }} {{ amount|e }}<br>{% endfor %}

'''{{ otherAssets['name'] }}'''<br>
{% for name, amount in otherAssets['children'] | dictsort(by='key') %}
:{{ name|e }} {{ amount|e }}<br>{%  endfor %}

Imbalance {{imbalance}}<br>

==In/out Breakdown==

'''Income'''<br>{% for account in income | sort(attribute='name') %}
{{ account['name'] }} {{ account['amount'] }}<br>{% for name, amount in account['children'] | dictsort(by='key') %}
:{{ name|e }} {{ amount|e }}<br>{% endfor %}{% endfor %}

'''Total Revenue {{ totalRevenue }}'''


'''Expenses'''<br>{% for account in expenses | sort(attribute='name') %}
{{ account['name'] }} {{ account['amount'] }}<br>{% for name, amount in account['children'] | dictsort(by='key') %}
:{{ name|e }} {{ amount|e }}<br>{% endfor %}{% endfor %}

'''Total Expenses {{ totalExpenses }}'''<br>

'''Net {{ profitOrLoss }} for Period {{ net }}'''

[[Category: Financials|^Year {{ wikiYear }}^]]
